html, body, #root {
  margin: 0;
  height: 100%;
  width: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.avatar {
  width: 180px;
  height: 280px;
  border-radius: 3px;
  margin: 0 auto;
  display: block;
}

.card {
  margin: 10px 0;
  padding: 20px;
  width: 250px;
}

.dark {
  color: #DADADA;
  background: #1c2022;
  min-height: 100%;
}

.bg-light {
  background: rgba(75,0,130,0.08);
  border-radius: 3px;
}

.bg-dark {
  background: rgba(203,100,255,0.12);
  border-radius: 3px;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.center-text {
  text-align: center;
}

.card-list {
  margin: 20px 0;
  font-size: 20px;
}

.card-list li {
  display: flex;
  align-items: center;
  margin: 10px;
}

.card-list svg {
  margin-right: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.nav li {
  margin-right: 10px;
}

.nav-link{
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link:hover {
  color: rgb(178, 24, 192);
}

.center-hr {
  display: flex;
  justify-content: center;
}

.hero-info section {
  font-size: 18px;
  margin: 20px;
  padding: 20px;
}

.hero-info-light-bg section {
  background: rgba(0,0,0,0.08);
  border-radius: 3px;
}

.hero-info-dark-bg section {
  background: rgb(42,44,45);
  border-radius: 3px;
}

.hero-info li * {
  margin: 10px 0;
}

.btn-clear {
  border: none;
  background: transparent;
}